[Desktop Entry]
Name=Earth Eternal
Comment=An MMORPG set in a world where humans no longer exist. 
Exec=player http://live.theanubianwar.com/Release/Current/EarthEternal.car
Icon=org.icemoon.EarthEternal
Terminal=false
Type=Application
Categories=Game
StartupWMClass=EarthEternal
